node_modules/
dist/
.env
*.json
backups/
database.json
status.json
harassment.json 
src/data/musicBans.json
cookies.txt
src/data/*.json
src/data/triggerwords.json
src/automation/database/channelNames.json
src/automation/database/trollState.json